@model MVCEgitim.Models.AnasayfaViewModel

@{
    ViewBag.Title = "Anasayfa";
}

<h2>Anasayfa</h2>

<div>
    <h3>Anasayfa View Model</h3>
    <hr />

    <h4>Kullanıcı Bilgileri</h4>
    Id : @Model.Kullanici.Id
    <h5>Adı : @Model.Kullanici.Ad</h5>
    <h5>Soyadı : @Model.Kullanici.Soyad</h5>
    <h5>Email : @Model.Kullanici.Email</h5>
    <h5>@Html.LabelFor(model => model.Kullanici.KullaniciAdi) : @Html.DisplayFor(model => model.Kullanici.KullaniciAdi)</h5>
    <h5>Şifre :  @Html.DisplayFor(model => model.Kullanici.Sifre)</h5>

    <hr />

    <h4>Adres Bilgileri</h4>

    <h5>Şehir : @Model.Adres.Sehir</h5>
    <h5>İlçe : @Model.Adres.Ilce</h5>
    <h5>Açık Adres : @Model.Adres.AcikAdres</h5>

</div>