@model MVCEgitim.Models.Kullanici

@{
    ViewBag.Title = "Kullanıcı Bilgileri";
}

<h2>Kullanıcı Bilgileri</h2>

<div>
    @using (Html.BeginForm())
    {
        <div>
            <table>
                <tr>
                    <td>Ad:</td>
                    <td>
                        @Html.EditorFor(model => model.Ad)
                    </td>
                </tr>
                <tr>
                    <td>Soyad:</td>
                    <td>
                        @Html.EditorFor(model => model.Soyad)
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        @Html.EditorFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>Kullanıcı Adı:</td>
                    <td>@Html.EditorFor(model => model.KullaniciAdi)</td>
                </tr>
                <tr>
                    <td>Şifre:</td>
                    <td>
                        @Html.EditorFor(model => model.Sifre)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Gönder" /></td>
                </tr>
            </table>

        </div>
    }
</div>


@{
    if (IsPost)
    {
        @ViewBag.Mesaj
        <hr />
        @ViewData["Vdata"]
        <hr />
        @TempData["Tdata"]
        <hr />
        <h2>Model kullanarak dataları gösterme</h2>
        <div>Ad : @Model.Ad</div>
        <div>Email : @Model.Email</div>
        <div>Soyad : @Model.Soyad</div>
    }
}